<div class="course">

  <h2>Search All Lessons</h2>

  <mat-form-field class="search-bar">

    <input matInput placeholder="Type your search" #searchInput autocomplete="off">

  </mat-form-field>

  <button class="search" mat-raised-button color="primary">
    <mat-icon>search</mat-icon>
    Search
  </button>

    <table class="lessons-table mat-elevation-z7">

      <thead>
      <th>#</th>
      <th>Description</th>
      <th>Duration</th>
      </thead>

      <!-- tr class="lesson-row">
        <td class="seqno-cell">{{lesson.seqNo}}</td>
        <td class="description-cell">{{lesson.description}}</td>
        <td class="duration-cell">{{lesson.duration}}</td>
      </tr -->

    </table>



</div>






