
<div class="courses-panel">

    <h3>All Courses</h3>

    <mat-tab-group>

      <!-- mat tab 1 -->
        <mat-tab label="Beginners">
           
          <!-- (beginnerCourses$ | async) " async -> na mundeson ti bejme ne menyre atomanike subscribe dhe unsubscribe ketu ne html"-->

          <!-- responsei qe marim nga "  dialogRef.afterClosed() " duke shtuar nje thirje ne " this.coursesChanges.emit() " -->
          <!-- ku thirja na ndimon ti bejme reload serviseve qe kemi ne funkjonin " reloadCourses() ", me ndimen e: -->
          <!--  @Output() coursesChanges = new EventEmitter(); qe trasforton thirjen nga komponenti femi - prinde -->
          
          <courses-card-list [courses]=" beginnerCourses$ | async" 
                             (coursesChanges)="reloadCourses()">
          </courses-card-list>

        </mat-tab>


        <!-- mat tab 2 -->
        <mat-tab label="Advanced">

          <courses-card-list [courses]=" advancedCourses$ | async"
                             (coursesChanges)="reloadCourses()">
          </courses-card-list>

        </mat-tab>

    </mat-tab-group>
  


</div>

 